#requestBetaSection
  .row
    .col-xs-12
      h4.accent.center-aligned #{public.sections_data.RequestBeta._data.title}
      p.center-aligned #{public.sections_data.RequestBeta._data.text}

    .col-xs-12.col-md-3
    .col-xs-12.col-md-6.input-container.center-aligned
      form.row(action="//usemeapp.us7.list-manage.com/subscribe/post?u=5b16e3b63c1bdb0f4a4fa32d8&amp;id=dca37e2e2f" method="post" novalidate)
        .col-xs-12.col-md-8.input-div
          .input
            input(required type="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="EMAIL ADDRESS")
        .col-xs-12.col-md-4.input-div
          input.button(type="submit" value="#{public.sections_data.RequestBeta._data.buttonText}") 
    .col-xs-12.col-md-3
