#Support
  .card
    .row
      .col-xs-12.col-md-6
        .mainImage
          img.min(src="assets/images/Support_image_min.jpg")
          img.large(src="assets/images/Support_image.jpg")
      .col-xs-12.col-md-6.content
        h2.center-aligned #{public.sections_copy.Support._data.title}
        p.center-aligned #{public.sections_copy.Support._data.text}
      
  
