#supportSection
  .card
    .row.card-container
      .col-xs-12.col-md-6
        .main-image
          img.min(src="assets/images/support_image_min.jpg" srcset="assets/images/support_image_min@2x.jpg")
          img.large(src="assets/images/support_image.jpg" srcset="assets/images/support_image@2x.jpg")
      .col-xs-12.col-md-6.content
        h2.center-aligned #{public.sections_data.Support._data.title}
        p.center-aligned #{public.sections_data.Support._data.text}
      
  
