doctype html
html(lang='#{ site.language }')
  head
    != partial('_partials/head')

  body
    != partial('_partials/viral_loops')
    .container-fluid
      != yield

      != partial('_partials/footer')
