@top-spacing: 100px;

#Intro{
  padding-bottom: 2em;
  #Logo {
    display: flex;
    margin: 2em auto;
    justify-content: center;
    font-weight: 100;
    font-size: 1.5em;
    letter-spacing: 5px;
    img{
      margin-right: 20px;
    }
  }
  .content {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    h2 {
      font-size: 33px;
      font-weight: normal;
      letter-spacing: -1px;
      line-height: 50px;

    }
    p {
      font-size: 18px;
      letter-spacing: 0;
      color: @light-gray;
      line-height: 30px;
    }

    .button {
      margin: 3em 0;
    }
  }

  .phones {
    background-image: url('../images/PLTRFM_TwoPhones.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    img {
      opacity: 0;
      width: 100%;
    }
  }

  .goal {
    margin-top: 1em;
    p {
      line-height: 42px;
      letter-spacing: -.12px;
      font-size: 28px;
    }
  }

  .logos {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    img {
      margin: 1em 0.5em;
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1) {
  #Intro {
    .phones {
      background-image: url('../images/PLTRFM_TwoPhones@2x.png');
    }
  }
}

@media screen and (min-width: 768px) {
  #Intro {
    #Logo {
      justify-content: flex-start;
      margin: 0;
      position: relative;
      top: @top-spacing;
    }

    .intro {
      flex-direction: row-reverse;
      min-height: 700px;
      .content {
        margin: 0;
        position: relative;
        top: @top-spacing;
        text-align: left;
        h2 {
          font-size: 3em;
          line-height: 60px;
        }
        p {
          font-size: 1.25em;
        }
      }
    }

    .logos {
      width: 80%;
      justify-content: space-between;
      img {
        margin: 1em 0;
      }
    }
  }
}
