footer.row
  .col-xs-12
    p.text #{public._data.footer.text}
    p.year #{public._data.footer.year}
    

script(src='assets/scripts/swipe.min.js')
script(src='assets/scripts/main.js')
!= partial('yt_api')
if google_analytics
  != partial('google_analytics')
if intercom
  != partial('intercom')
